/*Presentation-wide style changes*/

.reveal {
  font-size: 32px;
}

.reveal section img {
  border: 0; 
  background: None; 
  box-shadow: None;
}


/*===========================================*/
/*Style elements for use on individual slides*/
/*===========================================*/

/*-----------------------------------------------------------*/
/* Classes used to hide/remove a header on individual slides.*/
.hideslideheader h1,
.hideslideheader h2 {
    display: none;
} 


/*---------------------------------------------------*/
/* Classes used to customize slides with blockquotes.*/
.quoteslide {
  background: 'black';
}

.quoteslide > blockquote {
  background: none;
  box-shadow: none;
}

.quoteslide > blockquote > p {
  font-size: 1em;
  text-align: left;
  font-family: 'Source Sans Serif';
}

.quoteslide > p {
  font-size: 0.6em;
  font-weight: bold;
  width: 70%;
  text-align: right;
  font-family: 'Source Sans Pro';
  margin: auto;
}

/*---------------------------------------------------------------*/
/* Classes used change alignment of a single slide.*/
.left-aligned-slide {
  text-align: left;
}

.right-aligned-slide {
  text-align: right;
}

.top-aligned-slide {
  top: 0 !important;
  display: block;
}


/*---------------------------------------------------------------*/
/* Classes used change text size*/
.small-pg-text > p {
  font-size: 0.9em;
}

.x-small-pg-text > p {
  font-size: 0.8em;
}

.xs-small-pg-text > p {
  font-size: 0.6em;
}


/*---------------------------------------------------------------*/
/* Classes used to customize a special additional(!) title slide.*/

.title-with-logo p {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
  margin: 3px 0;
}

.title-with-logo p ~ p {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;
  margin: 3px 0;
}

.title-without-logo p {
/*  font-family: 'Source Sans Serif'; */
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
/*  text-transform: capitalize; */
  margin: 3px 0;
}

.title-without-logo p ~ p {
/*  font-family: 'Source Sans Serif'; */
  font-size: 0.8em;
  font-style: italic;
  text-align: left;
  text-transform: capitalize;
  margin: 3px 0;
}

.mytitlepage a {
  color: inherit;
  text-decoration: inherit;
}

.authorsection p {
  font-size: 0.65em;
  text-align: right;
  text-decoration: none;
  margin: 1px 0;
}

.linksection p {
  font-size: 0.5em;
  font-style: italic;
  margin: 3px 0;
  text-decoration: none;
  text-align:left;
}
